In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Consigna 1

In [ ]:
!pip install funpymodeling

In [1]:
from funpymodeling.exploratory import freq_tbl, status

In [2]:
import pandas as pd
data = pd.read_csv("encuesta-anual-hogares-2019.csv", sep=',')

In [ ]:
data.head(3)

In [4]:
data = data.drop("id", axis=1)

In [5]:
data = data.drop("hijos_nacidos_vivos", axis=1)

In [ ]:
status(data)

In [7]:
data['ingresos_familiares'] = pd.qcut(data['ingresos_familiares'], q=8)

In [8]:
data['ingreso_per_capita_familiar'] = pd.qcut(data['ingreso_per_capita_familiar'], q=10)

In [9]:
data['ingreso_total_lab'] = pd.qcut(data['ingreso_total_lab'], q=10, duplicates='drop')
data['ingreso_total_no_lab'] = pd.qcut(data['ingreso_total_no_lab'], q=4, duplicates='drop')

In [ ]:
data['ingreso_total_no_lab']

In [11]:
data['edad']=pd.cut(data['edad'],bins=5)

In [12]:
data['comuna'] = data['comuna'].astype(str)
data['nhogar'] = data['nhogar'].astype(str)

In [ ]:
data['años_escolaridad'].unique()

In [14]:
data['años_escolaridad'] = data['años_escolaridad'].replace('Ningun año de escolaridad aprobado', '0')

In [15]:
data['años_escolaridad'] = data['años_escolaridad'].astype(float).astype("Int32")

In [16]:
data['años_escolaridad'] = pd.qcut(data['años_escolaridad'], q=5)

In [17]:
data = data.dropna(subset=['situacion_conyugal', 'sector_educativo', 'lugar_nacimiento', 'afiliacion_salud'])

In [18]:
data = data.reset_index(drop=True)

Hay que agregar la categoria primero antes del fillna

In [19]:
data['años_escolaridad']=data['años_escolaridad'].cat.add_categories("desconocido")

In [20]:
data['años_escolaridad']=data['años_escolaridad'].fillna(value="desconocido")

In [21]:
data['nivel_max_educativo']=data['nivel_max_educativo'].fillna(value="desconocido")

In [ ]:
status(data)

## Consigna  2

In [22]:
data_ohe = pd.get_dummies(data)

In [23]:
import pickle
with open('categories_ohe.pickle', 'wb') as handle:
    pickle.dump(data_ohe.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [25]:
new_data = pd.read_csv("new_data.csv", sep=',')

In [26]:
with open('categories_ohe.pickle', 'rb') as handle:
    ohe_tr = pickle.load(handle)

In [27]:
pd.get_dummies(new_data).reindex(columns = ohe_tr).fillna(0)

,miembro,ingresos_totales,nhogar_1,nhogar_2,nhogar_3,comuna_1,comuna_10,comuna_11,comuna_12,comuna_13,...,afiliacion_salud_Solo sistema publico,cantidad_hijos_nac_vivos_1,cantidad_hijos_nac_vivos_2,cantidad_hijos_nac_vivos_3,cantidad_hijos_nac_vivos_4,cantidad_hijos_nac_vivos_5,cantidad_hijos_nac_vivos_6,cantidad_hijos_nac_vivos_7,cantidad_hijos_nac_vivos_9,cantidad_hijos_nac_vivos_No corresponde
0,1,4000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True
1,1,22000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True
2,1,25000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True
3,2,30000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True
4,1,20000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True